/* Navigation Styles */

a {
  text-decoration: none;
  color: currentcolor;
}

a:hover {
  color: currentColor;
}

nav {
  background-color: #fff;
  display: flex;
  align-items: center;
}

nav .container-fluid {
  width: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand img {
  width: 140px;
  height: 60px;
}

nav .navb-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 3px;
  gap: 50px;
}

nav .item {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  white-space: nowrap;
  color: #102447;
  padding: 5px 0;
  transition: all 0.1s ease;
  border-bottom: 0px solid #64d6f4;
  border-top: 0px solid #64d6f4;
  cursor: pointer;
}

nav .item:hover {
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

nav .item-button button {
  background-color: #274d8a;
  letter-spacing: 3px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5 ease;
}

nav .item-button button:hover {
  background-color: #64d6f4;
}

button.navbar-toggler {
  border: none;
}

.offcanvas {
  border-radius: 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: #102447;
}

.offcanvas-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 9px;
  padding-bottom: 16px;
  border-bottom: 2px solid #fefefe;
}

.offcanvas-title img {
  width: 140px;
  height: 66px;
  margin-top: 17.5px;
}

.offcanvas-body {
  width: 88%;
  margin: 0 auto;
  padding: 75px 0 0 0;
  flex: unset;
  overflow: visible;
}

.offcanvas-body .nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 0;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
  color: #274d8a;
  border-bottom: 1px solid #274d8a;
}

.nav-item a {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2.5px;
  color: #fefefe;
}

.nav-item i {
  color: currentColor;
  font-size: 30px;
  width: 35px;
  margin-right: 15px;
  padding: 0 0 3px 3px;
}

.offcanvas .nav-item:hover {
  color: #fefefe;
  border-bottom: 1px solid #fefefe;
}

.navbar-nav:hover {
  --bs-nav-link-hover-color: none;
}

.navb-button {
  width: 100%;
  height: 47px;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #274d8a;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.navb-button:hover {
  background-color: #274d8a;
  color: #fefefe;
}

.mobile-modal-footer {
  width: 87%;
  margin: 0 auto;
  padding: 20% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: #274d8a;
}

.mobile-modal-footer i:hover {
  color: #fefefe;
}

/* Header Animation Styles */

div.container.header {
  margin-top: 15vh;
  margin-bottom: 7px;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(235, 185, 152);
  border-radius: 25%;
}

.container .text {
  position: relative;
  color: #4070f4;
  font-size: 30px;
  font-weight: 600;
}

.container .text.first-text {
  color: #fff;
}

.text.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(235, 185, 152);
  border-left: 2px solid #4070f4;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }

  100% {
    left: 0%;
  }
}

/* Body Styles */

body {
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
  background-image: url("../images/Background.webp"); /* Image Taken From: https://medium.com/analytics-vidhya/regularization-understanding-l1-and-l2-regularization-for-deep-learning-a7b9e4a409bf */
  background-size: cover;
  background-position: center;
}

.main_content {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Rating Stars Styles */

.rating1 > label {
  font-size: 7.5vh;
  cursor: pointer;
  line-height: 1;
}

.rating1 > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
  color: #ffd700;
}

.rating1 > label:hover:before,
.rating1 > label:hover ~ label:before {
  opacity: 1;
  color: #ffd700;
  transition: 0.15s;
}

.rating1 > input:checked ~ label:before {
  opacity: 1;
  transition: 0.15s;
}

.rating1:hover > input:checked ~ label:before {
  opacity: 1;
}
